body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(bgg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container form {
  width: 350px;
  padding: 15px;
  background: beige;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
  width: 750px;
}
.container table {
  padding: 20px;
  background: beige;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .box .display-4 {
  color: white;
}
.btn-light {
  display: block;
  width: 15%;
  padding: 10px 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(-5px);
  background: blanchedalmond;
}
.btn-light:hover {
  transform: translateY(-5px);
  background: burlywood;
}
.cari {
  background: beige;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
}
